/*CSS DE CONTEUDO, DE ESTILIZAÇÂO UNICOS*/

/*CARROSEL*/
    /*CARROSEL PRINCIPAL*/
    .slider, .slider_ev { /*Posicionamento do carrosel*/
        border-radius: 50px;
        height: 400px;
        /*margin: 0 auto;*/ /*Ativar caso de erro*/
        overflow: hidden; /*Esconde o excedente*/
        width: 750px;
    }
    .slides { /*Os slides do carrosel distancia entre eles*/
        height: 400px;
        width: 600%; /*Porcentagem pelo número de imagens*/
    }
    .slides input, .slides_ev input { /*Esconde os inputs de verdade*/
        display: none;
    }
    .slide { /*Ajuste*/
        width: 16.666666666666668%; /*porcentagem em relação a porcentagem anterior. Assim sendo 100% da imagem*/
    }
    .slide img{
        height: 100%;
        object-fit: fill; /*Ajusta imagens*/
        width: 100%; /*Ativar caso de erro*/
    }
    .manual_navgation { /*posição do btns*/
        margin-top: -40px;
        position: relative;
    }
    .manual_btn, .auto_navgation label{ /*Como os btns vão ficar*/
        border: 4px solid #ddd;
        border-radius: 50%;
        cursor: pointer;
        opacity: .5;
        padding: 10px;
        z-index: 1;
    }
    .auto_navgation label {
        border: 4px solid #000;
    }
    .auto_navgation {
        margin-bottom: 40px;
        margin-top: 360px;
        position: absolute;
        width: 750px;
        z-index: 0;
    }
    .manual_btn:not(:last-child), .auto_navgation label:not(:last-child) { /*Para separar os btns menos o ultimo*/
        margin-right: 40px;
    }
    /*Manipulação do radio*/
    #radio1:checked ~ .auto_navgation .auto_btn1 {
        background-color: #0AA;
    }
    #radio2:checked ~ .auto_navgation .auto_btn2 {
        background-color: #0AA;
    }
    #radio3:checked ~ .auto_navgation .auto_btn3 {
        background-color: #0AA;
    }
    #radio4:checked ~ .auto_navgation .auto_btn4 {
        background-color: #0AA;
    }
    #radio5:checked ~ .auto_navgation .auto_btn5 {
        background-color: #0AA;
    }
    #radio6:checked ~ .auto_navgation .auto_btn6 {
        background-color: #0AA;
    }
    #radio1:checked ~ .one_slide {
        margin-left: 0;
    }
    #radio2:checked ~ .one_slide {
        margin-left: -16.666666666666668%;
    }
    #radio3:checked ~ .one_slide {
        margin-left: -33.333333333333336%;
    }
    #radio4:checked ~ .one_slide {
        margin-left: -50%;
    }
    #radio5:checked ~ .one_slide {
        margin-left: -66.66666666666667%;
    }
    #radio6:checked ~ .one_slide {
        margin-left: -83.33333333333334%;
    }
    /*Carrosel de eventos*/
    .events {
        background-color: #ddd;
        margin-left: 10px;
    }
    .slides_ev {
        height: 400px;
        padding: 20px;
    }
    .slide_ev {
        background-color: #eee;
        border-radius: 10px;
        height: 160px;
        width: 480px;
    }
    .slide_ev:not(:first-child) {
        margin-top: 10px;
    }
    .slide_space {
        background-color: transparent;
        height: 80px;
    }
    .ev_nav {
        margin-top: -35px;
    }
    .btn1, .btn2, .btn3 {
        border: 3px solid #000
    }
    /*Manipulação do radio evento*/
    #Ev1:checked ~ .firts_evt {
        margin-top: 10px;
        transition: .6s;
    }
    #Ev2:checked ~ .firts_evt {
        margin-top: -420px;
        transition: .6s;
    }
    #Ev3:checked ~ .firts_evt {
        margin-top: -850px;
        transition: .6s;
    }
    /*Outro*/
    .carousel_container {
        position: relative;
        text-align: center;
    }
    
    .carousel {
        display: flex;
        width: 100%;
        transition: transform 0.5s ease-in-out;
    }
    
    .product {
        flex: 0 0 20%; /* Cada produto ocupa 100% da largura do contêiner */
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }
    
    /* Estilo dos botões de navegação */
    .carousel_buttons {
        text-align: center;
        margin-top: 10px;
    }
    
    .prev_button,
    .next_button {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
    }
    
    .prev_button {
        left: 0;
    }
    
    .next_button {
        right: 0;
    }
    

    .prev_button:hover,
    .next_button:hover {
        background-color: #555;
    }
    .container_sub img{
        height: 400px;
        width: 300px;
    }
    /*Outro*/
    /*Carrosel Produtos*/
    .slider_products {
        height: 320px;
        overflow: hidden; /*Apagar depois // quebra galho*/
    }
    .slides_products {
        width: 400%;
        /*Apagar depois // quebra galho*/
    }
    /*Effects*/
    .manual_btn:hover { /*Botão do carrosel*/
        background-color: #ff0;
        transition: .1s;
    }


/*Pesquisa*/
    /*Catalago de pesquisa, Leitura HQ*/
    .index_procura {
        background-color: #DDD;
    }
    .index_procura .item {
        padding: 15px 0;
    }
    .item p {
        cursor: pointer;
    }
    .container_search_bar {
        width: 650px;
    }
    .search_bar {
        background-color: #fff;
        border: #999 1px solid;
        font-size: 1rem;
        height: 45px;
        margin: 0 auto;
        outline: none;
        padding: 0 20px;
        width: 100%;
    
        &:focus{
            border: 1px solid #000;
            transition: 0.35s ease;
            color: #000;
        }
    }
    /*Catalago de pesquisa, Lojá*/
    /*Catalago de pesquisa, Header (Cabeçalho)*/
    /*Effects*/
    .item p:hover {
        opacity: .6;
    }
/*Conteudo*/
/*Catalago*/
.catalog {
    margin: 30px 0;
}
.catalog .item {
    height: 350px;
}
.catalog img {
    width: 55%;
    height: 100%;
}
.catalog_item {
    padding-left: 20px;
}
.catalog .middle_screen {
    margin: 0 10px;
}
.catalog a {
    color: #000;
    text-decoration: none;
}
.catalog_item div:not(:first-child){
    padding: 20px 0;
}
.catalog_desc {
    margin-top: 10px;
    height: 280px;
    overflow: auto;
}
.catalog .btns { /*BTN COM OS GENEROS < ESTILIZAR*/
    outline: none;
}
/*Market // Loja*/

.category_market {
    width: 300px;
    height: 100vh;
    border-right: 2px solid #ccc;
}
.products_market {
    width: 980px;
}
.products_market .product_desc {
    align-items: center;
}
/*USER*/
    /*USER*/
    #no_pad {
        padding-top: 0;
    }
    .top_box {
        border-bottom: 1px solid #000;
    }
    .top_box a {
        text-decoration: none;
        color: #000;
    }
    .top_box div {
        cursor: pointer;
    }
    .user_perfil {
        flex-direction: column;
    }
    .user_perfil img {
        cursor: pointer;
        border: 3px solid black;
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    .user_perfil .img2 {
        width: 100%;
        height: 100%;
    }
    /*Notificações*/
    .cursor_pointer {
        cursor: pointer;
    }
    .notif_div {
        background-color: #999;
        border-radius: 15px;
        margin: 20px;
        padding: 10px;
        width: 95%;
    }
    .noticias a {
        color: #000;
        text-decoration: none;
    }
    .notifi_area {
        background-color: #ccc;
        border-radius: 15px;
        height: 100%;
        margin: 10px;
        margin-top: 20px;
        padding: 20px;
        width: 100%;
    }
    .notifi_area div {
        padding: 10px 20px;
    }
    /*Effects*/
    .top_box div:hover{
        opacity: .6 ;
    }
    .user_perfil .img2:hover {
        z-index: 1;
    }
    .cursor_pointer:hover {
        opacity:.6;
    }
/*Paginas*/
.frente_ler {
    height: 450px;
}
.img_ler {
    height: 300px;
    width: 200px;
}
.img_ler img {
    height: 100%;
    width: 100%;
}
.descri_ler {
    height: 450px;
    width: 850px;
}
main .descri_ler p {
    margin-left: 10px;
}
.fav_ler {
    align-items: center;
}
.fav_ler img {
    width: 70px;
}
.descri_ler *:not(ul, li) {
    margin: 10px 0;
}
.market_links {
    width: 200px;
}
.container_3 a {
    color: #000;
    text-decoration: none;
}
.container_3 div {
    margin: 40px 0;
}
.container_4 img{
    border: 1px solid #000;
    border-radius: 10px;
    height: 60px;
    width: 60px;
}
.container_4 p {
    padding: 1.25rem;
    text-align: center;
    width: 190px;
}
.captulos_ler a {
    color: #000;
    text-decoration: none;
}
.c_btns {
    outline: none;
    padding: 1rem 0;
}
.c_btns a {
    padding: 1rem;
    color: #000;
    text-decoration: none;
}
.imgs {
    flex-direction: column;
    align-items: center;
}
.imgs img {
    width: 100%;
    height: 100%;
}
/*Effects*/
.container_3 a:hover, .container_4:hover {
    opacity: .6;
    text-decoration: underline;
}
/*Outros*/
/* Estilo personalizado para o botão */
.botao-personalizado {
    background-color: #3498db; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    border-radius: 20px; /* Borda arredondada */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor do mouse ao passar por cima */
}
/*FIM----Outros*/