/*CSS DE CONTEUDO, DE ESTILIZAÇÂO UNICOS*/

/*CARROSEL*/
    /*CARROSEL PRINCIPAL*/
    .slider, .slider_ev { /*Posicionamento do carrosel*/
        border-radius: 50px;
        height: 400px;
        /*margin: 0 auto;*/ /*Ativar caso de erro*/
        overflow: hidden; /*Esconde o excedente*/
        width: 750px;
    }
    .slides { /*Os slides do carrosel distancia entre eles*/
        height: 400px;
        width: 600%; /*Porcentagem pelo número de imagens*/
    }
    .slides input, .slides_ev input { /*Esconde os inputs de verdade*/
        display: none;
    }
    .slide { /*Ajuste*/
        width: 16.666666666666668%; /*porcentagem em relação a porcentagem anterior. Assim sendo 100% da imagem*/
    }
    .slide img{
        height: 100%;
        object-fit: cover; /*Ajusta imagens*/
        width: 100%; /*Ativar caso de erro*/
    }
    .manual_navgation { /*posição do btns*/
        margin-top: -40px;
        position: relative;
    }
    .manual_btn, .auto_navgation label, .mark_navgation div{ /*Como os btns vão ficar*/
        border: 4px solid #ddd;
        border-radius: 50%;
        cursor: pointer;
        opacity: .5;
        padding: 10px;
        z-index: 1;
    }
    .auto_navgation label {
        border: 4px solid #000;
    }
    .auto_navgation, .mark_navgation {
        margin-bottom: 40px;
        margin-top: 360px;
        position: absolute;
        width: 750px;
        z-index: 0;
    }
    .manual_btn:not(:last-child), .auto_navgation label:not(:last-child) { /*Para separar os btns menos o ultimo*/
        margin-right: 40px;
    }
    /*Manipulação do radio*/
    #radio1:checked ~ .auto_navgation .auto_btn1 {
        background-color: #0AA;
    }
    #radio2:checked ~ .auto_navgation .auto_btn2 {
        background-color: #0AA;
    }
    #radio3:checked ~ .auto_navgation .auto_btn3 {
        background-color: #0AA;
    }
    #radio4:checked ~ .auto_navgation .auto_btn4 {
        background-color: #0AA;
    }
    #radio5:checked ~ .auto_navgation .auto_btn5 {
        background-color: #0AA;
    }
    #radio6:checked ~ .auto_navgation .auto_btn6  {
        background-color: #0AA;
    }
    #radio1:checked ~ .one_slide {
        margin-left: 0;
    }
    #radio2:checked ~ .one_slide {
        margin-left: -16.666666666666668%;
    }
    #radio3:checked ~ .one_slide {
        margin-left: -33.333333333333336%;
    }
    #radio4:checked ~ .one_slide {
        margin-left: -50%;
    }
    #radio5:checked ~ .one_slide {
        margin-left: -66.66666666666667%;
    }
    #radio6:checked ~ .one_slide {
        margin-left: -83.33333333333334%;
    }
    /*Carrosel de eventos*/
    .events {
        background-color: #ddd;
        margin-left: 10px;
    }
    .slides_ev {
        height: 400px;
        padding: 20px;
    }
    .slide_ev {
        background-color: #eee;
        border-radius: 10px;
        height: 160px;
        width: 480px;
    }
    .ev_btn {
        border: 4px solid #000;
    }
    .ev_btn:not(:last-child) {
        margin-right: 40px;
    }
    .slide_ev:not(:first-child) {
        margin-top: 10px;
    }
    .slide_space {
        background-color: transparent;
        height: 80px;
    }
    .mark_navgation div{
        border: 4px solid transparent;
    }
    /*Manipulação do radio evento*/
    #Ev1:checked ~ .firts_evt {
        margin-top: 10px;
        transition: .6s;
    }
    #Ev1:checked ~ .mark_navgation {
        margin: 0;
        margin-top: -860px;
        width: 480px;
    }
    #Ev1:checked ~ .mark_navgation .btn1 {
        background-color: #000;
    }
    #Ev2:checked ~ .firts_evt {
        margin-top: -420px;
        transition: .6s;
    }
    #Ev2:checked ~ .mark_navgation {
        margin: 0;
        margin-top: -430px;
        width: 480px;
    }
    #Ev2:checked ~ .mark_navgation .btn2 {
        background-color: #000;
    }
    #Ev3:checked ~ .firts_evt {
        margin-top: -850px;
        transition: .6s;
    }
    #Ev3:checked ~ .mark_navgation {
        margin: 0;
        margin-top: 0px;
        width: 480px;
    }
    #Ev3:checked ~ .mark_navgation .btn3 {
        background-color: #000;
    }
    /*Carrosel Produtos*/
    .slider_products {
        height: 320px;
        overflow: hidden; /*Apagar depois // quebra galho*/
    }
    .slides_products {
        width: 400%;
        /*Apagar depois // quebra galho*/
    }
    /*Effects*/
    .manual_btn:hover { /*Botão do carrosel*/
        background-color: #fff;
        transition: .1s;
    }
    .ev_btn:hover {
        background-color: #000;
    }

/*Pesquisa*/
    /*Catalago de pesquisa, Leitura HQ*/
    .index_procura {
        background-color: #DDD;
    }
    .index_procura .item {
        padding: 15px 0;
    }
    .item p {
        cursor: pointer;
    }
    .container_search_bar {
        width: 650px;
    }
    .search_bar {
        background-color: #fff;
        border: #999 1px solid;
        font-size: 1rem;
        height: 45px;
        margin: 0 auto;
        outline: none;
        padding: 0 20px;
        width: 100%;
    
        &:focus{
            border: 1px solid #000;
            transition: 0.35s ease;
            color: #000;
        }
    }
    /*Catalago de pesquisa, Lojá*/
    /*Catalago de pesquisa, Header (Cabeçalho)*/
    /*Effects*/
    .item p:hover {
        opacity: .6;
    }
/*Conteudo*/
/*Catalago*/
.catalog {
    margin: 30px 0;
}
.catalog .item {
    height: 350px;
}
.catalog img {
    height: 100%;
}
.catalog .btns { /*BTN COM OS GENEROS < ESTILIZAR*/
    outline: none;
}
/*Market // Loja*/

.category_market {
    width: 300px;
    height: 100vh;
    border-right: 2px solid #ccc;
}
.products_market {
    width: 980px;
}
.products_market .product_desc {
    align-items: center;
}
/*USER*/
    /*USER*/
    #no_pad {
        padding-top: 0;
    }
    .top_box {
        border-bottom: 1px solid #000;
    }
    .top_box div {
        cursor: pointer;
    }
    .user_perfil {
        flex-direction: column;
    }
    .user_perfil img {
        cursor: pointer;
        border: 3px solid black;
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
    .user_perfil .img2 {
        width: 100%;
        height: 100%;
    }
    /*Effects*/
    .top_box div:hover{
        opacity: .6 ;
    }
    .user_perfil .img2:hover {
        z-index: 1;
    }