/*CSS DO CABEÇALHO E OS ITENS DENTRO DELE*/
#header { /*Cabeçalho*/
    background-color: #FDFDFD;
    border-bottom: #CCC solid 1px;
    height: 65px;
    position: fixed;
    width: 100%;
    z-index: 9;
}
#header * { /*Definição da altura dentro do cabeçalho*/
    height: inherit;
}
#header a { /*Definição dos links do cabeçalho*/
    color: #000;
    text-decoration: none;
}
.img_logo { /*Borda da logo*/
    border: 2px solid black;
    border-radius: 50%; 
}
.searth_bar { /*Barra de pesquisa*/
    background-color: #aaa;
    width: 200px;
}
#header .user_area img {
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding: .5rem;
}
/*Effects*/
#header a:hover { /*Esmaecimento dos itens no cabeçalho*/
    border-radius: 50%;
    opacity: .4;
}