#searchInput {
    padding: 5px;
    font-size: 16px;
    width: 90%;
}

#searchButton {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#tagSuggestions {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

#tagSuggestions ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#tagSuggestions li {
    padding: 5px;
    cursor: pointer;
}

#tagSuggestions li:hover {
    background-color: #f0f0f0;
}