@charset "UTF-8";
/*Definições gerais*/
* {
    box-sizing: border-box;
}
#layout_main  {
    background-color: #F9F9F9;
    font-family: 'Fragment Mono', Arial, Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    text-align: justify;
}
html {
    tab-size: 4;
}
body {
    margin: 0;
    padding: 0;
}
ul, ol, li {
    margin: inherit;
    overflow: hidden;
    padding: inherit;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
#main { /*Corpo principal do site*/
    padding-top: 65px;
    width: 100%;
}
/*Container. Delimita a area de espansão.*/
.container {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
.container_top {
    margin: 20px auto;
    width:100%;
}
@media(min-width:100%) {
    .container {
        max-width:100%;
        padding-right:1.25rem;
        padding-left:1.25rem;
    }
}
@media(min-width:750px) {
    .container {
        max-width:750px;
        padding-right:1.25rem;
        padding-left:1.25rem;
    }
    .container_top {
        min-width: 750px;
    }
}
@media(min-width:960px) {
    .container {
        max-width:960px;
    }
}
@media(min-width:1140px) {
    .container {
        max-width:1140px;
    }
}
@media(min-width:1320px) {
    .container {
        max-width:1320px;
    }
    .container_top .events {
        width: 520px;
    }
}
@media (max-width: 750px) {
    .container_top {
        min-width: 750px;
    }
}
@media (max-width: 1350px) {
    .container_top .events {
        display: none;
    }
    section .slider {
        margin: 0 auto;
    }
}
